/* usa este fichero para personalizar tus vistas */

.iuthumb {
    height: 75px;
}

.formularioValidado {
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.formularioValidado input {
    margin-top: 4px;
}

.formularioValidado .botones {
    margin-top: 6px;
}

.iucontrol button {
    border: 1px solid lightgray;
    border-radius: 10px;
}


/** comienzo CSS para controles de estrellas */

fieldset.rating,
.rating label {
    margin: 0;
    padding: 0;
}

.rating {
    border: none;
    float: left;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    content: "";
    vertical-align: -.125em;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    width: 1rem;
    height: 1rem;
}

.rating label {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23bbb' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z' clip-rule='evenodd'/></svg>");
}

.rating label.selected {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23ec1' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z' clip-rule='evenodd'/></svg>");
}

.rating label:hover {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23ff1' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z' clip-rule='evenodd'/></svg>");
}


/** fin CSS para controles de estrellas */