/* usa este fichero para personalizar tus vistas */

.iuthumb {
    height: 50px;
}

.formularioValidado {
    height: 86%;    
    border:2px solid white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px;
    
}

.formularioValidado2 {
    border: 2px solid white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    height: 86%;
}

.formularioValidado input {
    margin-top: 4px;
}

.formularioValidado2 input {
    margin-top: 4px;
}

.formularioValidado .botones {
    margin-top: 6px;
}

.formularioValidado2 .botones {
    margin-top: 50px;
}

.iucontrol button {
    border: 1px solid lightblue;
    border-radius: 10px;
}